body{
    background-image: url('https://images.unsplash.com/photo-1699891730676-037bed3c1bed?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2Vic2l0ZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&fm=jpg&q=60&w=3000');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    width: 100%;
    color: white;
    font-size: 15px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
hr{
    width: 100%;
    border: 2px solid white;
}
.btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 85vh;
    gap: 25px;
}
.btns button{
    width: 150px;
    height: 150px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-size: 40px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
    transition: all 0.1s ease-in-out;
    transform: translateY(0);
}
.btns button:active{
    box-shadow: 0px 6px 10px #059AA9;
    transform: translateY(2px);
}